{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<style>
  .form-control{
    width: 280px;
  }
</style>



{% if user.is_authenticated or user.is_superuser %}
  
  
<div style="padding-top: 20px;">
<button type="button" style="width: 16rem;" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Add skilled Company
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"  style="width: 45rem;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Add skilled Company</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" class="container mt-4" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="id_name">Name:</label>
                      <input type="text" name="name" id="id_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="id_location">Location:</label>
                      <input type="text" name="location" id="id_location" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="id_phone_number">Phone number:</label>
                      <input type="text" name="phone_number" id="id_phone_number" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="id_email">Email:</label>
                      <input type="email" name="email" id="id_email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="id_sample_work">Sample Work:</label>
                      <input type="file" name="logo" id="id_sample_work" accept="image/*" multiple class="form-control-file">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="id_services">Services:</label>
                      <textarea name="services" id="id_services" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="id_description">Description:</label>
                      <textarea name="description" id="id_description" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="id_availability">Availability:</label>
                      <select name="availability" id="id_availability" class="form-control" required>
                        <option value="Available">Available</option>
                        <option value="Busy">Busy</option>
                      </select><br>
                    </div>
                    {% comment %} <div class="form-group">
                      <label for="id_logo">Logo:</label>
                      <input type="file" name="logo" id="id_logo" accept="image/*" class="form-control-file" required>
                    </div> {% endcomment %}
                  </div>
                </div>
                <button style="padding: 0.1px 1px;" type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<p style="padding: 40px 0px 20px 40px;"><a href="{% url 'login' %}">Login to post profile</a></p>
{% endif %}





  <div class="container" style="padding-top: 10px;" >
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="padding-left: 8rem;">
                  <form method="GET" class="form-inline">
                    <input type="text"  name="search_name" value="{{ search_name }}" class="form-control" placeholder="Search by name"><br>
                    <input type="text" name="search_location" value="{{ search_location }}" class="form-control" placeholder="Search by location"><br>
                    <select name="search_availability" class="form-control">
                        <option value="" {% if not search_availability %}selected{% endif %}>All</option>
                        <option value="Available" {% if search_availability == 'Available' %}selected{% endif %}>Available</option>
                        <option value="Busy" {% if search_availability == 'Busy' %}selected{% endif %}>Busy</option>
                    </select><br>
                </div>
                <div style="padding-top: 9px;">
                  <button style="padding: 3px 12px; padding-right: 120px;" type="submit" class="btn btn-primary text-center">Search</button>
                </div>
                </form>
                
                {% for individual in obj %}
                {% endfor %}
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for company in obj %}
                {% if not location or company.location == location %}
                {% if not service or company.services == service %}
                {% if not availability or company.availability == availability %}
                <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" style="height: 10rem;" src="{{company.logo.url}}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ company.name }}</h5>
                        <p><b>Services: </b>{{ company.services }}</p>
                        <p><b>Location: </b>{{ company.location }}</p>
                        <p><b>Status: </b>{% if company.availability == "Busy" %}<button style="padding: 1px 1px !important;" class="btn btn-danger">{{ company.availability }}
                        </button>{% else %}<button style="padding: 1px 1px !important;" class="btn btn-success">{{ company.availability }}</button>{% endif %}</p>
                         <a style="font-weight: 600;" href="{% url 'skilled_company_details' company.id %}" >More Details</a>
                      </div>
                    </div><br>
                  </div>
                  
                {% endif %}
                {% endif %}
                {% endif %}
                {% empty %}
                <p>Skilled personnel found </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>











  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>


{% endblock  %}


